<form class="emp-form" #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="employeeService.selectedEmployee.firstName" placeholder="First Name" required>
            <div class="validation-error" *ngIf="firstName.invalid && firstName.touched"> This field is required</div>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="employeeService.selectedEmployee.lastName" placeholder="Last Name" required>
            <div class="validation-error" *ngIf="lastName.invalid && lastName.touched"> This field is required</div>

        </div>
    </div>
    <div class="form-group">
        <input class="form-control" name="position" #position="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Position">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" name="empCode" #empCode="ngModel" [(ngModel)]="employeeService.selectedEmployee.empCode" placeholder="Emp Code">
        </div>
        <div class="form-group col-md-6">
            <input class="form-control" name="office" #office="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Office">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
             <button  type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-floppy-o"></i> Submit</button>
        </div>
        <div class="form-group col-md-4">
            <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(employeeForm)"><i class="fa fa-repeat"></i> Reset</button>
        </div>
    </div>
</form>